<mat-card class="example-card">
    <img [src]="imgURL" *ngIf="imgURL" style="height:200px;background-repeat: no-repeat;" class="md-card-image" alt="image caption" />

    <mat-form-field class="example-full-width">
      <input type="file" #file placeholder="Choose file" accept='image/*' (change)="uploadFile(file.files)" style="display:none;">
      <button mat-raised-button [color]="'success'" (click)="file.click()"> Upload File</button>
      <div class="container"></div>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" value="{{Name}}">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Sure Name" value="{{SureName}}">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date of birth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="sex status" value="{{SexStatus}}">
    </mat-form-field>
    <br />

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <button mat-raised-button [color]="'success'" (click)="PushInfo()">Edit</button>
    </mat-button-toggle-group>
    <br />
    <mat-slide-toggle (click)="ChangeBackground()">Dark mode</mat-slide-toggle>
</mat-card>
