
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div>

        <div class="row">
          <div class="col-sm-6 col-md-4">
            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
            <div class="btn-group">
              <button type="button" class="button">
                Edit
              </button>
            </div>
          </div>
          <div class="col-sm-6 col-md-8">
            <h4>
              Maksim Iskandirov
            </h4>
            <small>
              <cite title="Rivne, Ukraine">
                <i class="glyphicon glyphicon-map-marker"></i>
                Rivne, Ukraine
              </cite>
            </small>
            <p>
              <i class="glyphicon glyphicon-envelope"></i>maksimiskandirov2.0@gmail.com
              <br />
              <i class="glyphicon glyphicon-globe"></i><a href="https://mail.google.com/mail/u/0/#inbox">www.gmail.com</a>
              <br />
              <i class="glyphicon glyphicon-gift"></i>February 12, 2001
            </p>


          </div>
        </div>

      </div>
    </div>
  </div>
</div>
