.buttonlogin {
  background-color: blue;
  color: white;
  text-align: center;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: blue;
  border-radius: 15px;
  transition: 0.2s;
  margin-top: 5px;
  margin-left: 30px;
}
.centerlogin {
  margin-left: 40%;
  margin-top: 15%;
}
.inputlogin {
  border-radius: 10px;
}
