<!-- <app-person></app-person>

<router-outlet></router-outlet> -->

<div class="container">  
  
  <mat-card>  
    <mat-toolbar color="accent">  
      <div align="center" style="color:white;text-align: right;">  
        CRUD with Person
      </div>    
    </mat-toolbar>  
  <br><br>  
    <mat-card-content>  
      <form [formGroup]="personForm"(ngSubmit)="onFormSubmit(personForm.value)">  
              <!-- <table> 
                <tr>  
                  <td class="tbl1">  
                    <mat-form-field class="demo-full-width">  
                      <input formControlName="FirstName" matTooltip="Enter Worker Name" matInput placeholder="Name">  
                    </mat-form-field>  
                    <mat-error>  
                      <span *ngIf="!workerForm.get('FirstName').value && workerForm.get('FirstName').touched"></span>  
                    </mat-error>  
                  </td>  
                  <td class="tbl1">  
                    <mat-form-field class="demo-full-width">  
                      <input formControlName="LastName" matTooltip="Enter Last Name" matInput placeholder="Surname">  
                    </mat-form-field>  
                    <mat-error>  
                      <span *ngIf="!workerForm.get('LastName').value && workerForm.get('LastName').touched"></span>  
                    </mat-error>  
                  </td>  
                </tr>  
                <tr>  
                  <td class="tbl1">  
                    <mat-form-field class="demo-full-width">  
                      <input formControlName="Age" matTooltip="Enter Worker Age" matInput placeholder="Age">  
                    </mat-form-field>  
                    <mat-error>  
                      <span *ngIf="!workerForm.get('Age').value && workerForm.get('Age').touched"></span>  
                    </mat-error>  
                  </td>  
                  <td class="tbl1">  
                    <mat-form-field class="demo-full-width">  
                      <input formControlName="Salary" matTooltip="Enter Salary" matInput placeholder="Salary">  
                    </mat-form-field>  
                    <mat-error>  
                      <span *ngIf="!workerForm.get('Salary').value && workerForm.get('Salary').touched"></span>  
                    </mat-error>  
                  </td>  
                  
                </tr>  
                <tr>  
                  <td  class="content-center">  
                    <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!workerForm.valid">Submit</button>      
                    <button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
                  </td>  
                  <td>  
                    <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                      {{message}}  
                    </p>  
                  </td>  
                </tr>
                 
              </table>  
  <br><br>   -->

  <!-- Login:string;
  Password :string;
  FirstName:string;
  LastName :string;
  Email:string;
  SexStatusId :number;
  Phone:string;  
  IsDeleted:boolean;
  IsBanned:boolean; -->

        <table class="table" mat-table >
            <tr ngclass="btn-primary">  
                <th class="tbl2">Login</th>  
                <th class="tbl2">Password</th>  
              <th class="tbl2">Person Name</th>  
              <th class="tbl2">Person Surname</th>  
              <th class="tbl2">Email</th>  
              <th class="tbl2">SexStatusId</th>  
              <th class="tbl2">Phone</th>  
              <th class="tbl2">IsDeleted</th> 
              <th class="tbl2">IsBanned</th>   
            </tr>  
            <tr *ngFor="let w of allPeople | async"> 
                <td class="tbl2">{{w.Login}}</td>  
                <td class="tbl2">{{w.Password}}</td>   
              <td class="tbl2">{{w.FirstName}}</td>   
              <td class="tbl2">{{w.LastName}}</td>
              <td class="tbl2">{{w.Email}}</td>  
              <td class="tbl2">{{w.SexStatusId}}</td>  
              <td class="tbl2">{{w.Phone}}</td>
              <td class="tbl2">{{w.IsDeleted}}</td>  
              <td class="tbl2">{{w.IsBanned}}</td>  
              
              <!-- <td class="tbl2">  
                <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="loadWorkerToEdit(w.Id)">Edit</button>  
              </td>  
              <td class="tbl2">  
                <button type="button" class="btn btn-danger"matTooltip="Click Delete Button"(click)="deleteWorker(w.Id)">Delete</button>  
              </td>   -->
            </tr>  

          </table>  
      </form>  
    </mat-card-content>  
  </mat-card>  
  </div>  
