<!-- <app-person></app-person>

<router-outlet></router-outlet> -->

<div class="container">

  <mat-card>
    <mat-toolbar color="accent">
      <div align="center" style="color:white;text-align: right;">
        CRUD with Person
      </div>
    </mat-toolbar>
    <br><br>
    <mat-card-content>
      <form [formGroup]="personForm" (ngSubmit)="onFormSubmit(personForm.value)">
        <table>
          <tr>          

            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="userName" matTooltip="Enter userName" matInput placeholder="userName">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!personForm.get('userName').value && personForm.get('userName').touched"></span>
              </mat-error>
            </td>
          </tr>
          <tr>
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="firstName" matTooltip="Enter Worker firstName" matInput placeholder="firstName">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!personForm.get('firstName').value && personForm.get('firstName').touched"></span>
              </mat-error>
            </td>

            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="lastName" matTooltip="Enter lastName" matInput placeholder="lastName">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!personForm.get('lastName').value && personForm.get('lastName').touched"></span>
              </mat-error>
            </td>
          </tr>
          <tr>
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="email" matTooltip="Enter Person email" matInput placeholder="email">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!personForm.get('email').value && personForm.get('email').touched"></span>
              </mat-error>
            </td>
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="sexStatus" matTooltip="Enter sexStatus" matInput placeholder="sexStatus">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!personForm.get('sexStatus').value && personForm.get('sexStatus').touched"></span>
              </mat-error>
            </td>

          </tr>

          <tr>
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="phoneNumber" matTooltip="Enter Person Phone" matInput placeholder="phoneNumber">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!personForm.get('phoneNumber').value && personForm.get('phoneNumber').touched"></span>
              </mat-error>
            </td>
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="isDeleted" matTooltip="Enter isDeleted" matInput placeholder="isDeleted">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!personForm.get('isDeleted').value && personForm.get('isDeleted').touched"></span>
              </mat-error>
            </td>

          </tr>

          <tr>
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="isBanned" matTooltip="Enter isBanned" matInput placeholder="isBanned">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!personForm.get('isBanned').value && personForm.get('isBanned').touched"></span>
              </mat-error>
            </td>

          </tr>
          <tr>
            <td class="content-center">
              <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button"
                [disabled]="!personForm.valid">Submit</button>
              <button type="reset" mat-raised-button color="accent" matTooltip="Click Reset Button"
                (click)="resetForm()">Reset</button>
              <button type="button" class="btn btn-info" matTooltip="Click Edit Button"
                (click)="loadWorkerToEdit()">Edit</button>
            </td>
            <td>
              <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success"
                align="left">
                {{message}}
              </p>
            </td>
          </tr>

        </table>
        <br>
      </form>
    </mat-card-content>

  </mat-card>
</div>