.example-chip-list {
  width: 100%;
}
mat-drawer-container {
  margin: 12px;
  flex: 1 1 auto;
  height: 100%;
}
mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
mat-checkbox {
  font-size: 14px;
}
mat-drawer{
  width: 10%;
}

.fixedbut {
  position: fixed;
  display: block;
  text-decoration: none;
}

 
