<!--------------------------------------------------------------------------------------------------->
<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
              [removable]="removable" (removed)="remove(fruit)">
      {{fruit.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</mat-form-field>
<!------------------------------------------------------------------------------------------>

<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer mode="side">
    <mat-checkbox [(ngModel)]="checked">Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
  </mat-drawer>
  <mat-drawer-content>
    <button mat-icon-button mat-raised-button (click)="drawer.toggle()">
      <mat-icon> notes</mat-icon>
    </button>

  </mat-drawer-content>
</mat-drawer-container>


